
<body>

	<h1>BuckiRent</h1>
	<h3>Browse properties available for rent all around Ohio State's Off-Campus area.</h3>

	<%= image_tag "../../assets/images/house1.jpg"%>

	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<%= link_to "All Listings", listing_list_path %>
	<% if user_signed_in? %>
		<%= link_to "My Listings", listing_mylist_path %>
	<% end %>

</body>
