<!-- Edited by Kamari Wright on 4/19 to restructure HTML and add UI Classes -->

<%page_header 'Edit Listing'%>

<%= form_for @listing, :url => {:action => "update", :id =>@listing},
                                :html => {:multipart => true} do |f| %>
  <div class="form-group">
    <div class = "row">
      <div class = "col-md-1">
        <label>Heading: </label>
      </div>
      <div class = "col-md-2">
        <%= f.text_field :heading %>
      </div>
    </div>
    <div class="row">
      <div class = "col-md-1">
        <label>Address: </label>
      </div>
      <div class = "col-md-2">
        <td><%= f.text_field :address %></td>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-1">
        <label>Area: </label>
      </div>
      <div class = "col-md-2">
        <td><%= f.text_field :area %></td>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-1">
        <label>Bed: </label>
      </div>
      <div class = "col-md-2">
        <td><%= f.text_field :bed %></td>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-1">
        <label>Bath: </label>
      </div>
      <div class = "col-md-2">
        <%= f.text_field :bath %>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-1">
        <label>Rent: </label>
      </div>
      <div class = "col-md-2">
        <%= f.text_field :rent %>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-1">
        <label>Description: </label>
      </div>
      <div class ="col-md-2">
        <%= f.text_area :description %>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-1">
        <label>Image: </label>
      </div>
      <div class = "col-md-2">
        <td><%= f.file_field :photo %></td>
      </div>
    </div>
  </div>

  <br />

  <%= link_to '<- Back', {:action => 'list' }, :class => 'btn btn-success btn-sm' %>
  <%= f.submit "Save Changes", :class => 'btn btn-info btn-sm' %>

<% end %>
