<!-- Created by Griffin Solimini on 4/17 as the listing list view -->

<!--Edited by Grant Stenroos on 04/18/16
 Added basic address search functionality and advanced search functionality

 Edited by Grant Stenroos on 04/18/16
 Removed basic address search functionality, added drop down stuff for bed/bath/rent search fields for exactly/under/over

 Edited by Phillip Loveland on 04/20/16
 Added Google Maps feature, changed some layout

 Edited by Kamari Wright on 4/19/16
 Added Page Header, restructured HTML for better UI, added classes to link_to
 
 Edited by Phillip Loveland on 04/20/16
 Fixed Google Map not showing. Added labels to pins on map.

-->
<%page_header "Listings" %>

<button data-toggle="collapse" data-target="#advanced_search_collapse" class = "btn btn-default">Show/Hide Search Options</button>
<% if user_signed_in? %>
    <%= link_to "Add A Listing", {:action => 'new'}, :class => 'btn btn-default' %>
<% end %>
<br>
<br>
<div id="advanced_search_collapse" class="collapse in" style="" aria-expanded="true">
<div class = "row">
  <div class = "col-md-8">

<%= form_tag(nil, :method => "get", id: "advanced_search_form") do %>
    <div class="row">
      <div class="col-md-2">
        <%= label_tag 'Title:' %>
      </div>
      <div class="col-md-2">
        <%= text_field_tag :search_heading, params[:search_heading], placeholder: "Title" %><br/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= label_tag 'Description:' %>
      </div>
      <div class="col-md-2">
        <%= text_field_tag :search_description, params[:search_description], placeholder: "Description" %><br/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= label_tag 'Address:' %>
      </div>
      <div class="col-md-2">
        <%= text_field_tag :search_address, params[:search_address], placeholder: "Address" %><br/>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <%= label_tag 'Area:' %>
      </div>
      <div class="col-md-2">
        <%= text_field_tag :search_area, params[:search_area], placeholder: "Area" %><br/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= label_tag 'Beds:' %>
      </div>
      <div class="col-sm-4">
        <%= text_field_tag :search_bed, params[:search_bed], placeholder: "Beds" %><br/>
      </div>
      <div class="col-sm-6">
        <%= select_tag "bed_drop_down", options_for_select([['Exactly', 'exactly'], ['Under', 'under'], ['Over', 'over']], params[:bed_drop_down]) %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= label_tag 'Baths:' %>
      </div>
      <div class="col-sm-4">
        <%= text_field_tag :search_bath, params[:search_bath], placeholder: "Baths" %><br/>
      </div>
      <div class="col-sm-6">
        <%= select_tag "bath_drop_down", options_for_select([['Exactly', 'exactly'], ['Under', 'under'], ['Over', 'over']], params[:bath_drop_down]) %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2">
        <%= label_tag 'Rent:' %>
      </div>
      <div class="col-sm-4">
        <%= text_field_tag :search_rent, params[:search_rent], placeholder: "Rent" %><br/>
      </div>
      <div class="col-sm-6">
        <%= select_tag "rent_drop_down", options_for_select([['Exactly', 'exactly'], ['Under', 'under'], ['Over', 'over']], params[:rent_drop_down]) %>
      </div>
    </div>

    <%= submit_tag "Search", :name => nil, :class => "btn btn-info btn-sm" %>
  <% end %>
</div>
<div class = "col-md-4">
  <div id = "map"></div>
</div>
</div>
</div>

<script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 40, lng: -83.015},
          zoom: 13
        });

        var geocoder = new google.maps.Geocoder();
        <% @listings.each do |la| %>
    geocoder.geocode({'address': '<%= la.address %>'}, function(results, status) {
        if (status === google.maps.GeocoderStatus.OK) {
          var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            title: '<%=la.heading%>'
          });
        }
     });
        <% end %>
      }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>

<% if @allListings.blank? %>

    <br><p>There are no listings currently in the system.</p>

<% elsif @listings.blank? %>

    <br><p>No listings matched your search.</p>

<% else %>
	<% @listings.each do |l| %>
        <div class="listing">
          <h3><%= link_to l.heading, {:action => 'show', :id => l.id} -%></h3>
          <div class = "row">
            <div class = "col-md-3">
              <%= image_tag l.photo.url %>
            </div>
            <div class = "col-md-5">

              <p><%= l.description %></p>
              <p><u>Listing Details:</u></p>
              <p><strong>Address:</strong> <%= l.address %></p>
              <p><strong>Area:</strong> <%= l.area %></p>
              <p><strong>Bed/Bath:</strong> <%= l.bed %>/<%= l.bath %></p>
              <p><strong>Rent:</strong> $<%= l.rent %>/month</p>
              <p><strong>Owner:</strong> <%= l.user.email %></p>
              <%= link_to 'Send Message', {:action => 'message', :id => l.id}, class: 'btn btn-info btn-sm' %>
            </div>
            <div class = "col-md-4">
              <div id = "map map-<%= l.address %>"></div>
            </div>
          </div>
        </div>
        <hr>
    <% end %>
<% end %>
