<% if @listings.blank? %>
<p>There are no listings currently in the system.</p>
<% else %>
<h1>Listings</h1>
<hr>


<% @listings.each do |l| %>
  <div class ="listing">

    <h3><%= link_to l.heading, {:action => 'show', :id => l.id} -%></h3>
    <p><%= l.description %></p>
    Listing Details:
    <p>
      Address: <%= l.address %><br />
      Area: <%= l.area %><br />
      Bed/Bath: <%= l.bed %>/<%=l.bath%><br />
      Rent: $<%= l.rent %>/month<br />
    </p>
    <%= l.photo.url %>
    <%= image_tag l.photo.url %>
  </div>
  <hr>
<% end %>
<% end %>

<p><%= link_to "Add A Listing", {:action => 'new' }%></p>
