<!-- Created by Griffin Solimini on 4/17 as the listing message view -->
<!-- Edited Kamari Wright on 04/19 to add Page Headr, and UI Classes -->

<% page_header "Contact Owner" %>

<%= form_for @message, url: {action: "post_message", id: @user} do |f| %>
			<div class='form-group'>
	    	<div class = "row">
					<div class = "col-md-1">
	      		<label>Subject: </label>
					</div>
					<div class = "col-md-2">
	      		<%= f.text_field :subject, class: 'form-control' %>
					</div>
	    	</div>

	    	<div class = "row">
					<div class = "col-md-1">
	      		<label> Message: </label>
					</div>
					<div class = "col-md-2">
	      		<%= f.text_area :message, class: 'form-control' %>
					</div>
	    	</div>
			</div>
		<br/>
		<br/>
		<%= link_to 'Back', {:action => 'list'}, :class => 'btn btn-success btn-md' %>
		<%= f.submit "Send", class: 'btn btn-info btn-md' %>
<% end %>
