<%page_header 'My Listings'%>

<% if user_signed_in? %>
  <%= link_to "Add A Listing", {:action => 'new' }, :class => 'btn btn-default btn-md'%>
<% end %>

<% if @listings.blank? %>
  <p>There are no listings currently in the system registered under this user.</p>
<% else %>
  <% @listings.each do |l| %>
    <div class ="listing">
      <h3><%= link_to l.heading, {:action => 'show', :id => l.id} -%></h3>
      <div class = "row">
          <div class="col-md-3">
            <%= image_tag l.photo.url %>
          </div>
          <div class="col-md-9">
            <p><%= l.description %></p>
            <p><u>Listing Details:</u></p>
            <p><strong>Address:</strong> <%= l.address %></p>
            <p><strong>Area:</strong> <%= l.area %></p>
            <p><strong>Bed/Bath:</strong> <%= l.bed %>/<%=l.bath%></p>
            <p><strong>Rent:</strong> $<%= l.rent %>/month</p>
            <p><strong>Owner:</strong> <%= l.user.email %></p>
          </div>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>
