<!-- Created by Griffin Solimini on 4/17 as the listing show view -->

<!--Edited by Phillip Loveland on 04/19/16
 Added Google Maps feature, changed some layout
-->

<!-- Edited by Kamari Wright on 4/19/16
Added Page Header, restructured HTML for better UI, added classes to link_to -->

<!-- Edited by Shantanu Bhardwaj on 4/24/16
Removed message button, if owner is viewing their listing,and added link to 'mylist' -->

<div class ="listing">
  <% page_header @listing.heading %>
  <div class="row">
    <div class = "col-md-3">
        <%= image_tag @listing.photo.url %>
    </div>
    <div class = "col-md-5">
        <p> <%= @listing.description %></p>

        <p><u>Listing Details:</u></p>
          <p><strong>Address:</strong> <%= @listing.address %></p>
          <p><strong>Area:</strong> <%= @listing.area %></p>
          <p><strong>Bed/Bath:</strong> <%= @listing.bed %>/<%=@listing.bath%></p>
          <p><strong>Rent:</strong> $<%= @listing.rent %>/month</p>
          <p><strong>Owner:</strong> <%= @listing.user.email %></p>
          <% if current_user != @listing.user %>
            <%= link_to 'Send Message', {:action => 'message', :id => @listing.id}, :class => 'btn btn-info btn-sm' %>
          <% else %>
            <b> <%= link_to 'Edit', {:action => 'edit', :id => @listing.id}, :class => 'btn btn-info btn-sm' %></b>
            <b> <%= link_to "Delete", {:action => 'delete', :id => @listing.id}, :class => 'btn btn-info btn-sm'%></b>
          <% end %>
    </div>
    <div class = "col-md-4">
      <div id="map"></div>
    </div>
  </div>
    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 40, lng: -83.015},
          zoom: 13
        });

        var geocoder = new google.maps.Geocoder();
		geocoder.geocode({'address': '<%= @listing.address %>'}, function(results, status) {
		    if (status === google.maps.GeocoderStatus.OK) {
		      var marker = new google.maps.Marker({
		        map: map,
		        position: results[0].geometry.location
		      });
		    }
		 });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
</div>

<% if current_user != @listing.user %>
  <%= link_to '<- Back to Listings', {:action => 'list'}, :class => "btn btn-success" %>
  <% else %>
    <%= link_to '<- Back to My Listings', {:action => 'mylist'}, :class => "btn btn-success" %>
  <%end%>
