<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/">
        <%= image_tag "logo.png", :class => "logo" %>
      </a>
    </div>

    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
          <li>Signed in as: <%= current_user.email %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "Messages", messages_list_path %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <%end%>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div>
</nav>
